################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/testGit/FileContentIndex
/.vs/testGit/v17/ipch/AutoPCH/b683ec5bb49d2976
/.vs
